/* :root {
    --transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 800;
    color: #61DAFB;

} */

/* nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    /* background-color: #606168;
    height: 90px;
    padding: 30px 25px;
    
} */

/* .navbar-collapse{
    position:fixed;
    right: 0;
    top:0;
    z-index: 10;
    background-color: rgb(85, 80, 80);
    height: 100%;
    width: 250px;
    display: flex;
    padding: 10 rem 3 rem 0 3 rem;
    /*transform:translate(100%);
    transition: var(transition);
}*/
/*
.navbar-tog-btn{
    transition: var(--transition);
    z-index: 10;
}
.show-navbar{
    transform: translateX(0);
}
.nav-item{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.nav-pages{
    margin-bottom: 1.5rem;
    transition: var(--transition);
}
.nav-pages:hover{
    color: aquamarine;
}

#logo{
    font-size: 25px;
}
.nav--icon {
    height: 30px;
    margin-right: 7px;
}

@media screen and (min-width:800px){
    .navbar-collapse{
        position:relative;
        height: auto;
        padding:0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
    }
    .navbar-tog-btn{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 2.8rem;
    }
    .nav-pages{
        color:black;
        font-size: 1.7rem;
        font-weight: 500;
        opacity: 0.8;
    }
    .navbar-nav{
        display: flex;
    }
} */
