
*{
  padding: 0;
  margin: 0;
}
/* Navbar.css*/
:root {
  --transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 800;
  color: #61DAFB;
}

nav {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  /* background-color: #606168;
  height: 90px;
  padding: 30px 25px;
   */
}

.navbar-collapse{
  position:fixed;
  right: 0;
  top:0;
  z-index: 10;
  background-color: rgb(85, 80, 80);
  height: 100%;
  width: 250px;
  display: flex;
  padding: 10 rem 3 rem 0 3 rem;
  /*transform:translate(100%);*/
  transition: var(transition);
}
.navbar-tog-btn{
  transition: var(--transition);
  z-index: 10;
}
.show-navbar{
  transform: translateX(0);
}
.nav-item{
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.nav-pages{
  margin-bottom: 1.5rem;
  transition: var(--transition);
}
.nav-pages:hover{
  color: aquamarine;
}

#logo{
  font-size: 25px;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}


.main-content { /* added 28.11*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content{
  min-height: 75vh;
  position: relative; /* added 28.11*/
  display: flex;   /* added 28.11*/
  flex-direction: column; /* added 28.11*/
  width: 100%;  /* added 28.11*/
 
  /* background-image: url("./../images/blue.jpeg");
  background-repeat: no-repeat;
  background-size: cover; */
  
}


video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Search-form.css
.search-form {
  position: absolute; 
  top: 390; 
  display: flex;
  justify-content: center;
  align-items: center;
}*/

input[type='text'] {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  margin-right: 0;
  width: 450px;
}

button {
padding: 8px 16px;
font-size: 16px;
border: none;
/* border-radius: 4px; */
background-color: #66d0f3;
color: #fff;
cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* book.css  */
.book-shelf {
  width: 90%; 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust book size here */
  grid-gap: 20px;
  box-sizing: border-box;
  position: relative; 

}

.book {
  background-color: azure;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  text-align: center;
  position: relative;
  width: 100%; 
  max-width: 200px; 
}
.book:hover{
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.5);
}
.book img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0; 
}
.book .bottom{
  display: flex;
  flex-direction: column;
}
.book .bottom .title{
  font-size:  14px;
  margin-bottom: 12px;
}

/*Book detials*/
.details-overlay{
  min-height: 100vh;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  right:0;
  background-color: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-overlay{
  background-color: aliceblue;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  font-size: 1.3rem;
}
.inner-overlay .close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 17px;
}
.inner-overlay .inner-box{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.inner-overlay .inner-box img{
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.inner-overlay .inner-box h3{
  margin-top:10px;
  color:green;
}
.inner-overlay .inner-box h4{
  color:blue;
}
.inner-box .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;

}
.inner-overlay .inner-overlay button{
  outline: none;
  width:100px;
  background-color: #0056b3;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}

/* About page*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; 
}

.about-img {
  flex: 1;
  margin-right: 20px; 
}
.about-img img {
  width: 100%; 
  border-radius: 8px; 
}
.about-text {
  flex: 2;
}
.about-text p {
  font-size: 16px; 
  line-height: 1.6; 
  color: #333;
}

@media screen and (min-width:800px){
  .navbar-collapse{
      position:relative;
      height: auto;
      padding:0;
      width: 100%;
      background-color: transparent;
      transform: translateX(0);
      justify-content: flex-end;
  }
  .navbar-tog-btn{
      display: none;
  }
  .nav-item{
      margin-bottom: 0;
      margin-left: 2.8rem;
  }
  .nav-pages{
      color:black;
      font-size: 1.7rem;
      font-weight: 500;
      opacity: 0.8;
  }
  .navbar-nav{
      display: flex;
  }
}

