@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bodoni+Moda:opsz@6..96&family=Cedarville+Cursive&family=Noto+Sans:wght@500&family=Noto+Serif&family=PT+Serif:ital@1&family=Poppins&family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}
/* Navbar.css*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 36px;
  background-color: rgba(254, 235, 95, 0.706)
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 8px;
  color: #f6400d;
  font-size:xx-large;
}

.logo {
  font-size: 30px; 
  font-weight: bold;
  color: #08b4a6; 
  text-decoration: none;
}

.navbar-toggle {
  display: none; 
  cursor: pointer;
  color: #08b4a6; 
}

.navbar-links ul {
  display: flex;
  list-style: none;
}

.navbar-links ul li {
  margin-left: 20px; 
}

.navbar-links ul li a {
  text-decoration: none;
  color:#08b4a6;
  font-weight: bold;
  font-size:larger;
}

.show-navbar {
  display: block;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: block; 
  }

  .navbar-links.show-navbar {
    display: block;
    position: absolute;
    top: 70px; 
    right: 36px; 
    background-color: #606168;
    padding: 10px;
  }

  .navbar-links.show-navbar ul {
    flex-direction: column;
  }

  .navbar-links.show-navbar ul li {
    margin: 10px 0;
  }
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-main{
  flex: 1;
}
.main-content { 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content{
  position: relative;
  min-height: 75vh;
  display: flex;   
  justify-content: center; 
  width: 100%;  
}
.slogan{
  position: absolute;
  top: 40%;
  display:flex;
  justify-content:center;
  align-items: center;
  color: antiquewhite;
}
.your-search{
  margin-bottom: 400px;
  display:flex;
  justify-content: center;

}
video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Search-form.css
.search-form {
  position: absolute; 
  top: 390; 
  display: flex;
  justify-content: center;
  align-items: center;
}*/

input[type='text'] {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-right: 0;
  width: 450px;
}

button {
padding: 8px 16px;
font-size: 16px;
border: none;
background-color: #66d0f3;
color: #fff;
cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* book.css  */
.book-shelf {
  width: 90%; 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust book size here */
  grid-gap: 20px;
  box-sizing: border-box;
  position: relative; 

}

.book {
  background-color: azure;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  text-align: center;
  position: relative;
  width: 100%; 
  max-width: 200px; 
}
.book:hover{
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.5);
}
.book img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0; 
}
.book .bottom{
  display: flex;
  flex-direction: column;
}
.book .bottom .title{
  font-size:  14px;
  margin-bottom: 12px;
}

/*Book detials*/
.details-overlay{
  min-height: 100vh;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  right:0;
  background-color: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-overlay{
  background-color: aliceblue;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  font-size: 1.3rem;
}
.inner-overlay .close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 17px;
}
.inner-overlay .inner-box{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.inner-overlay .inner-box img{
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.inner-overlay .inner-box h3{
  margin-top:10px;
  color:green;
}
.inner-overlay .inner-box h4{
  color:blue;
}
.inner-box .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;

}
.inner-overlay .inner-overlay button{
  outline: none;
  width:100px;
  background-color: #0056b3;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}

.highlights{
  display: flex;

}
.highlights-title{
 text-align: center;

}

/* Footer CSS */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer small {
  display: block;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #55acee; 
}


